# Defaults for shadowsocks systemd service
# installed by Streisand from template

# Configuration file
#CONFFILE="{{ mtproxy_location }}/config.json"

# Extra command line arguments
#DAEMON_ARGS="{{ shadowsocks_daemon_args }}"
