[Unit]
Description=MTProxy
After=network.target
Documentation=https://github.com/TelegramMessenger/MTProxy

[Service]
Type=simple
WorkingDirectory={{ mtproxy_location }}
ExecStart= {{ mtproxy_exec_location }}/mtproto-proxy -u nobody -p 8888 -H 443 -S {{ mtproxy_secret.stdout}} -P {{ mtproxy_proxy_tag }} --aes-pwd {{ mtproxy_secret_file }} {{ mtproxy_proxy_multi_config }} -M 1
Restart=on-failure

[Install]
WantedBy=multi-user.target
